In [1]:
# SQL alchemy
from sqlalchemy import create_engine

from config import pswd

# PyMySQL
import pymysql
pymysql.install_as_MySQLdb()

In [10]:
#from sqlalchemy import create_engine

# Imports the methods needed to abstract classes into tables
from sqlalchemy.ext.declarative import declarative_base

# Allow us to declare column types
from sqlalchemy import Column, Integer, String, Float

In [2]:
# engine = create_engine("mysql://<Username>:<Password>@localhost/sportsdb")
engine = create_engine("mysql://root:{}@localhost:3306/ice_cream_db".format(pswd))

In [5]:
data = engine.execute("SELECT * FROM flavors where price > 1.25;")

for record in data: # print out the result
    print(record)

('Banana', 80, Decimal('2.50'))
('Green tea', 100, Decimal('2.50'))
('Chololate', 70, Decimal('2.75'))

In [8]:
import pandas as pd

sql = "SELECT * FROM flavors where price > 1.25;"
df = pd.read_sql(sql,engine)
df # result as dataframe

      flavor  rating  price
0     Banana      80   2.50
1  Green tea     100   2.50
2  Chololate      70   2.75

In [9]:
pd.read_sql(sql,engine).to_json() # convert the result to json file

'{"flavor":{"0":"Banana","1":"Green tea","2":"Chololate"},"rating":{"0":80,"1":100,"2":70},"price":{"0":2.5,"1":2.5,"2":2.75}}'

In [11]:
class Dog(Base):
    __tablename__ = 'dog'
    id = Column(Integer, primary_key=True)
    name = Column(String(255))
    color = Column(String(255))
    age = Column(Integer)

NameError: name 'Base' is not defined

In [12]:
class Cat(Base):
    __tablename__ = 'cat'
    id = Column(Integer, primary_key=True)
    name = Column(String(255))
    color = Column(String(255))
    age = Column(Integer)

NameError: name 'Base' is not defined